@import "./colors.scss";
@import "./widgets/network/network.scss";

* {
  all: unset;
  font-family: "Maple Mono", monospace;
  font-weight: bold;
  font-size: 12px;
  color: $foreground;
}

.powermenu {
  border-radius: 18px;
}

// clock module
.clock {
  padding-right: 10px
}

.calendar {
  background-color: $background;
  border-radius: 18px;
  padding: 10px;
  border: 2px solid $foreground;
}

// audio module
.audio-window-icon {
  color: $foreground;
  font-size: 16px;
}

.audio_popup {
  background-color: $background;
  border-radius: 13px;
  padding: 8px;
  border: 2px solid $foreground;
}

.audio-popup-heading {
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid $foreground;
}

.audio-popup-text {
  font-size: 38px;
}




// slider styles
trough {
  all: unset;
  background-color: $foreground;
  border-radius: 13px;
  min-height: 8px;
}

highlight {
  background-color: $color1;
  border-radius: 13px;
}



// left panel

.logo {
  font-size: 18px;
  margin: 0;
  color: $foreground;
}
.workspace {
  margin: 0;
  padding: 0 8px 0 8px;
  border-radius: 18px;
  background-color: $background;
}

.circle {
  margin: 8px;
}


// spotify styles
.spotify {
  background-color: $background;
  padding: 0 15px 0 5px;
  border-radius: 18px;
}

.spotify-img {
  background-size: cover;
  background-position: center;
  min-height: 24px;
  min-width: 24px;
  margin: 4px;
  border-radius: 50%;
}

.spotify-controls {
  margin-left: 8px;
}

.spotify-controller-text {
  font-size: 16px;
  margin: 0 8px;
}

.spotify-controller-text-small {
  font-size: 20px;
}

// system tray styles
.right-panel {
  background-color: $background;
  border-radius: 18px;
  padding: 0 5px 0 15px;
}

.tray {
  background-color: $background;
  padding: 15px;
  border: 2px solid $foreground;
  border-radius: 13px;
}

.tray-icon {
  color: $foreground;
  font-size: 20px;
}

// power button
.power-window-icon {
  color: $foreground;
  font-size: 20px;
}

.power_popup {
  background-color: $background;
  border-radius: 13px;
  padding: 8px;
  border: 2px solid $foreground;
}

.power-btn {
  color: $foreground;
  font-size: 20px;
}

.restart-btn {
  color: $foreground;
  font-size: 16px;
}
