@import "./colors.scss";
@import "./widgets/audio/audio.scss";
@import "./widgets/network/network.scss";
@import "./widgets/systray/systray.scss";

* {
  all: unset;
  font-family: "Maple Mono", monospace;
  font-weight: bold;
  font-size: 12px;
  color: $foreground;
}
.powermenu {
  background-color: $background;
  border-radius: 18px;
}

.clock {
  padding-right: 10px
}

// slider styles
trough {
  all: unset;
  background-color: $foreground;
  border-radius: 13px;
  min-height: 8px;
}

highlight {
  background-color: $color1;
  border-radius: 13px;
}



// window manager
.workspace {
  margin-left: 10px;
}

.circle {
  margin: 8px;
}
