@import "../../.config/colors/colors-waybar.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Maple Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}



window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}




#window {
  background-color: white;
  color: black;
  border-radius: 13px;
}

/* left modules */
#custom-appmenu {
  background-color: @background;
  border: 2px solid white;
  border-radius: 13px;
  padding: 0 8px;
  margin: 5px 10px;
}

#taskbar {
  background-color: transparent;
  padding: 0px;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 3px;
}

#custom-youtube {
  font-family: Font Awesome;
  margin: 5px 10px;
  font-size: 20px;
}



/* center modules */
#workspaces {
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 3px;
  border-radius: 15px;
  margin: 5px 0px;
}

#workspaces button {
    min-width: 12px;
    min-height: 10px;
    border-radius: 13px;
    margin: 0px 2px;
    background-color: @foreground;
}

#workspaces button.active {
    min-width: 35px;
    background-color: @color8;
}

#workspaces button:hover {
  background-color: black;
}



/* right module*/

#pulseaudio {
    background-color: @foreground;
    color: #000000;
    min-width: 60px;
    margin: 5px 8px;
    border-radius: 18px 8px 18px 8px;
}

#pulseaudio:hover {
    background-color: @color8;
}

#pulseaudio.muted {
    background-color: @color8;
}

#network {
    background-color: @color8;
    color: #ffffff;
    border: 2px solid white;
    min-width: 80px;
    margin: 5px 8px;
    border-radius: 18px 8px 18px 8px;
}

#network.disconnected {
    background-color: @foreground;
}

#clock {
    background-color: @color8;
    color: #ffffff;
    border: 2px solid white;
    min-width: 50px;
    border-radius: 18px 8px 18px 8px;
    margin: 5px 8px;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-powermenu {
  font-size: 14px; 
  margin: 5px 8px;
}

