.spotify-img {
  background-size: cover;
  background-position: center;
  min-height: 24px;
  min-width: 24px;
  margin: 4px;
  border-radius: 50%;
}

.spotify-controls {
  margin-left: 8px;
}

.spotify-controller-text{
  font-size: 16px;
  margin: 0 8px;
}
.spotify-controller-text-small {
  font-size: 20px;
}

